
# ignore environment variables file
.env

# Ignore 'Archived Notebooks' folder
Archived Notebooks/

# Ignore __pycache__ folders
__pycache__/

# Ignore PDFs
*.pdf
*.PDF

# ignore vector database files
*.bin
*.sqlite3

# ignore .JSONL files
*.json

# ignor .venv folders
.venv/

# ingnore .vscode folders
.vscode/
